:root {
	--background-color: #e3eae4;
	--blue: #003ed1;
	--green: #dcf968;
	--turqoise: #34d3cb;
	--coral: #ff7451;
}

::-moz-selection{
  background: var(--coral);
  color: #fff;
}

::selection{
  background: var(--coral);
  color: #fff;
}

::-webkit-scrollbar-thumb:vertical {
    background-color: var(--blue);
    border-radius: 9px;
    border: 4px solid #fff;
    height: 40vh;
}

::-webkit-scrollbar-thumb:horizontal {
    background-color: var(--blue);
    border-radius: 9px;
    border: 4px solid #fff;
    width: 40vw;
}

::-webkit-scrollbar {
    height: 0px;
    width: 14px;
    border-radius: 5px;
    background-color: #fff;
}

body{
  font-family:'Open Sans', sans-serif;
  font-size: 14px;
  background-color: var(--background-color);
  margin: 0px;
  padding: 0px;
  border: 0px;
  min-height: 100vh;
}

a {
  text-align: center;
  color: black;
  text-decoration: none;
}
 
a:visited{
  color: black;
  text-decoration: none;
}

a:hover {
  color: var(--coral);
  text-decoration: none;
}

a:active {
  color: black;
  text-decoration: none;
}

li{
  list-style: none;
  padding: 10px;
}

.nav-btn {
  background-color: white;
  color: black;
  border-radius: 5px;
  width: min-content;
  height: 15px;
  text-align: center;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
  vertical-align: middle;
}

.nav-btn:hover {
	background-color: var(--blue);
	color: var(--green);
	cursor: pointer;
}

.nav {
  margin-left: 25%;  
  margin-top: 40px;
  margin-bottom: 40px;
  height: 30px;
  width: 50%;
}

.nav a {
  text-align: center;
  color: black;
  text-decoration: none;
}

.nav a:visited{
  color: black;
  text-decoration: none;
}

.nav a:hover {
  color: var(--green);
  text-decoration: none;
}

.nav a:active {
  color: var(--green);
  text-decoration: none;
}

.tags {
  margin: auto;
  height: 28px;
  width: max-content;
  flex-wrap: wrap;
}

.tag {
  background-color: var(--background-color);
  color:#92a195;
  font-weight: bold;
  border-radius: 5px;
  width: min-content;
  height: 16px;
  text-align: center;
  float: left;
  margin-right: 4px;
  margin-left: 4px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 7px;
  font-size: 12px;
}

.footer {
  text-align: center; 
  margin-left: 25%;
  width: 50%; 
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 5px;
  line-height: 22px;
  margin:auto; 
  margin-top:30px; 
  margin-bottom:40px
}

.music-popup {
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid var(--background-color);
  background-color: white;
  bottom: 0px;
  right: 0px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.music-popup:hover {
  background-color: var(--blue);
  cursor: pointer;
}

#playlist {
  position: fixed;
  bottom: 0px;
  right: 0px;
  margin-right: 30px;
  margin-bottom: 90px;
  border: 6px solid white;
  border-radius: 5px;
  background-color: white;
}

.play-btn {
  padding-top: 2px;
}

.play-btn:hover {
  -webkit-filter: grayscale(100%);
  -webkit-filter: brightness(100);
}

.textcard {
  margin-left: 25%;
  width: 50%;
  margin-bottom: 40px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: white;
  border-radius: 5px;
  line-height: 22px;
}

.textcard a {
  background-color: var(--green);
  color: black;
  text-decoration: none;
}

.textcard a:visited{
  color: black;
  text-decoration: none;
}

.textcard a:hover {  
  background-color: var(--blue);
  color: var(--green);
  text-decoration: none;
}

.textcard a:active {
  color: black;
  text-decoration: none;
}

.aboutcard {
  width: 48%;
  margin-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: white;
  border-radius: 5px;
  line-height: 22px;
}

.aboutcard a {
  background-color: var(--green);
  color: black;
  text-decoration: none;
}

.aboutcard a:visited{
  color: black;
  text-decoration: none;
}

.aboutcard a:hover {  
  background-color: var(--blue);
  color: var(--green);
  text-decoration: none;
}

.aboutcard a:active {
  color: black;
  text-decoration: none;
}

.gallerytitle{  
  padding-left: 10px;
  margin-bottom: 30px;
  margin-left: 25%;
  width: 50%;
  color: var(--blue);
  font-weight: 900;
  text-decoration: bold;
  font-size: 18px;
}

.gallery{
  width: 50%;
  margin-left: 25%;
  display: block;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.gallerycontainer{
  width: 46%;
  margin-bottom: 30px;
  border: 6px solid #fff;;
  border-radius: 5px;
  background-color: white;
}

.gallerycontainer:hover {
  border: 6px solid var(--coral);
}

.galleryart{
  width: 100%;
}

.galleryart img{
  width: 100%;
  display: block;
}

.dropdown{
  position: relative;
  display: inline-block;
  float: left;
}

.dropdown-content{
  padding-top: 6px;
  padding-bottom: 4px;
  padding-left: 12px;
  margin-top: 40px;
  margin-left: 0px;
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 90px;
  z-index: 2;
  line-height: 30px;
  border-radius: 5px;
}

.dropdown-content a{
  text-align: center;
  color: black;
  text-decoration: none;
}

.dropdown-content a:visited{
  color: black;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: var(--blue);
  color: var(--green);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbutton {
  color: var(--coral);
}

.dropdown-content a:active {
  color: black;
  text-decoration: none;
}

.headshot {
  height: 10vw;
  max-height: 150px;
  float: left;
  margin-left: 5px;
  margin-top: 20px;
  margin-right: 23px;
  margin-bottom: 10px;  
  border-radius: 5px;
}

.icon{
  height: 15px;
  margin-top: 4px;
  margin-bottom: 0px;
  margin-right: 8px;
}

.icon:hover{
  -webkit-filter: grayscale(100%);
  -webkit-filter: brightness(0);
}

@media (max-width: 800px) {
  .nav {
    height: 30px;
    max-width: 30px;
    background-color: white;
    background-image: url(img/icons/menu.svg);
    background-size: cover;
    border-radius: 5px;
    border: 10px white solid;
    margin-top: 10px;
    margin-right: 10px;
  }

  .nav:hover .nav-content {
    display: block;
  }

  .nav-content {
    border-radius: 5px;
    margin-top: 40px;
    margin-left: -20px;
    padding-top: 10px;
    padding-left: 10px;
    display: none;
    position: absolute;
    width: min-content;
    z-index: 1;
  }
  
  .dropdown-content{
    margin-top: 0px;
    margin-left: 70px;
  }

  .textcard {
    margin-left: 5%;
    width: 90%;
  }

  .aboutcard {
    width: 100%;
    margin-bottom: 25px;
  }
  
  .gallery {
    margin-left: 5%;
    width: 90%;
  }
  
  .gallerytitle {
    margin-left: 5%;
    width: 90%;
  }

  .nav {
    margin-top: 20px;
    margin-left: 5%;
    width: 90%;
  }

  .footer {
    margin-left: 5%;
    width: 90%;
  }
}
