:root {
	--background-color: #e3eae4;
	--blue: #003ed1;
	--green: #dcf968;
	--turqoise: #34d3cb;
	--coral: #ff7451;
}

::-moz-selection{
  background: var(--turqoise);
  color: #fff;
}

::selection{
  background: var(--turqoise);
  color: #fff;
}

::-webkit-scrollbar-thumb:vertical {
  background-color: var(--blue);
  border: 3px solid #fff;
  height: 40vh;
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: var(--blue);
  border: 3px solid #fff;
  width: 40vw;
}

::-webkit-scrollbar {
  height: 0px;
  width: 8px;
  background-color: #fff;
}

body {
  font-family: "Ubuntu Mono";
  font-size: 12px;
  background-color: var(--background-color);
  margin-top: 15vh;
  margin-left: 15vw;
  margin-right: 15vw;
  max-height: 100vh;
  overflow: hidden;
}

.container {
  overflow: scroll;
  height: 70vh;
  width: 40vw;
  margin-left: 10%;
  padding-left: 40px;
  padding-right: 40px;
}

a {
  text-align: center;
  color: black;
  text-decoration: none;
}
 
a:visited{
  color: black;
  text-decoration: none;
}

a:hover {
  color: var(--coral);
  text-decoration: none;
}

a:active {
  color: black;
  text-decoration: none;
}

li{
  list-style: none;
  padding: 10px;
}

.nav-btn {
  background-color: white;
  color: black;
  width: min-content;
  height: 15px;
  text-align: center;
  float: right;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px;
  vertical-align: middle;
}

.nav-btn:hover {
	background-color: var(--blue);
	color: var(--green);
	cursor: pointer;
}

.nav {
  height: 50vh;
  width: 50px;
  margin-top: 10vh;
  margin-left: 8vw;
  float: left;
}

.nav a {
  text-align: center;
  color: black;
  text-decoration: none;
}

.nav a:visited{
  color: black;
  text-decoration: none;
}

.nav a:hover {
  color: var(--green);
  text-decoration: none;
}

.nav a:active {
  color: var(--green);
  text-decoration: none;
}

.tags {
  margin: auto;
  height: 25px;
  width: max-content;
  flex-wrap: wrap;
  padding-bottom: 4px;
}

.tag {
  background-color: var(--background-color);
  color:#92a195;
  font-weight: bold;
  font-size: 12px;
  width: min-content;
  text-align: center;
  float: left;
  margin-right: 4px;
  margin-left: 4px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.footer {
  text-align: center;
  width: 100%; 
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
  margin-top: 30px;
}

.textcard {
  width: 100%;
  margin-bottom: 40px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: white;
  line-height: 22px;
}

.textcard a {
  background-color: var(--green);
  color: black;
  text-decoration: none;
}

.textcard a:visited{
  color: black;
  text-decoration: none;
}

.textcard a:hover {  
  background-color: var(--blue);
  color: var(--green);
  text-decoration: none;
}

.textcard a:active {
  color: black;
  text-decoration: none;
}

.aboutcard {
  width: 48%;
  margin-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: white;
  line-height: 22px;
}

.aboutcard a {
  background-color: var(--green);
  color: black;
  text-decoration: none;
}

.aboutcard a:visited{
  color: black;
  text-decoration: none;
}

.aboutcard a:hover {  
  background-color: var(--blue);
  color: var(--green);
  text-decoration: none;
}

.aboutcard a:active {
  color: black;
  text-decoration: none;
}

.gallerytitle{
  margin-bottom: 30px;
  width: 100%;
  color: var(--blue);
  font-weight: 900;
  text-decoration: bold;
  font-size: 18px;
}

.gallery{
  width: 100%;
  display: block;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.gallerycontainer{
  width: 45%;
  margin-bottom: 30px;
  border: 2px solid #fff;
  background-color: white;
}

.gallerycontainer:hover {
  border: 2px solid var(--blue);
}

.galleryart{
  width: 100%;
}

.galleryart img{
  width: 100%;
  display: inline-grid;
  padding: 0px;
}

.dropdown{
  position: relative;
  display: inline-block;
  float: right;
}

.dropdown-content{
  padding-top: 6px;
  padding-bottom: 4px;
  padding-left: 12px;
  margin-left: 100%;
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 90px;
  z-index: 2;
  line-height: 30px;
}

.dropdown-content a{
  text-align: center;
  color: black;
  text-decoration: none;
}

.dropdown-content a:visited{
  color: black;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: var(--blue);
  color: var(--green);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbutton {
  color: var(--blue);
}

.dropdown-content a:active {
  color: black;
  text-decoration: none;
}

.headshot {
  height: 10vh;
  max-height: 90px;
  float: left;
  margin-left: 5px;
  margin-top: 20px;
  margin-right: 23px;
  margin-bottom: 10px;
}

.icon{
  height: 15px;
  margin-top: 4px;
  margin-bottom: 0px;
  margin-right: 8px;
}

.icon:hover{
  -webkit-filter: grayscale(100%);
  -webkit-filter: brightness(0);
}

@media (max-width: 800px) {
  body {
    margin-top: 8vh;
  }

  .container {
    width: 100%;
    height: 70vh;
    margin: 0px;
    padding: 0px;
  }

  .nav {
    height: 30px;
    max-width: 30px;
    background-color: white;
    background-image: url(img/icons/menu.svg);
    background-size: cover;
    border: 10px white solid;
    margin: 0px 0px 10px 0px;
  }

  .nav:hover .nav-content {
    display: block;
    background-color: white;
    margin-top: 50px;
    margin-left: -10px;
  }

  .nav-content {
    margin-top: 40px;
    margin-left: -20px;
    padding-top: 10px;
    padding-left: 10px;
    display: none;
    position: absolute;
    width: min-content;
    z-index: 1;
  }

  .nav-btn {
    float: left;
  }

  .dropdown {
    float: left;
  }
  
  .dropdown-content{
    margin-top: 0px;
    margin-left: 130%;
  }

  .textcard {
    width: 90%;
  }

  .aboutcard {
    width: 100%;
    margin-bottom: 25px;
  }
  
  .gallery {
    width: 90%;
  }
  
  .gallerytitle {
    width: 90%;
  }

  .nav {
    margin-top: 20px;
    width: 90%;
  }

  .headshot {
    height: 10vh;
  }

  .footer {
    width: 90%;
  }
}
